In [ ]:
# Este modelo eu fiz como brincadeira com um amigo

In [3]:
import pandas              as pd

In [4]:
dfs = pd.read_csv("d_mega.csv") 

dfs

,Concurso,Data_Sorteio,1_Dezena,2_Dezena,3_Dezena,4_Dezena,5_Dezena,6_Dezena,Arrecadacao_Total,Ganhadores_Sena,...,UF,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Premio,Acumulado_Mega_da_Virada
0,1.0,3/11/1996,41.0,5.0,4.0,52.0,30.0,33.0,0,0.0,...,NaN,0,17.0,"39,158.92",2016.0,330.21,SIM,"1,714,650.23",0,0
1,2.0,3/18/1996,9.0,39.0,37.0,49.0,43.0,41.0,0,1.0,...,PR,"2,307,162.23",65.0,"14,424.02",4488.0,208.91,NÃO,0,0,0
2,3.0,3/25/1996,36.0,30.0,10.0,11.0,29.0,47.0,0,2.0,...,RN,"391,192.51",62.0,"10,515.93",4261.0,153.01,NÃO,0,0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,4/1/1996,6.0,59.0,42.0,27.0,1.0,5.0,0,0.0,...,NaN,0,39.0,"15,322.24",3311.0,180.48,SIM,"717,080.75",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2549,2277.0,7/8/2020,23.0,10.0,53.0,60.0,22.0,37.0,"49,381,600.50",0.0,...,NaN,0,89.0,"31,990.12",5597.0,726.69,SIM,"32,568,253.95","40,000,000.00","46,608,093.03"
2550,2278.0,7/11/2020,34.0,17.0,37.0,43.0,8.0,45.0,"60,580,597.50",0.0,...,NaN,0,98.0,"35,640.86",6533.0,763.77,SIM,"39,002,367.76","44,000,000.00","47,527,252.15"
2551,2279.0,7/14/2020,28.0,12.0,20.0,5.0,27.0,14.0,"39,851,784.00",1.0,...,SP,"43,234,926.10",120.0,"19,147.29",6212.0,528.39,NÃO,0,"20,000,000.00","48,131,903.37"
2552,2280.0,7/16/2020,50.0,28.0,58.0,29.0,59.0,31.0,"34,322,827.50",0.0,...,NaN,0,20.0,"98,944.99",1639.0,"1,724.83",SIM,"19,414,052.44","24,000,000.00","48,652,666.49"
2553,2281.0,7/18/2020,35.0,40.0,14.0,55.0,50.0,27.0,"39,519,742.50",0.0,...,NaN,0,43.0,"52,989.08",2462.0,"1,322.11",SIM,"23,611,345.48","29,000,000.00","49,252,279.79"

In [5]:
dfs.shape

(2554, 21)

In [6]:
dfs.dtypes

Concurso                    float64
Data_Sorteio                 object
1_Dezena                    float64
2_Dezena                    float64
3_Dezena                    float64
4_Dezena                    float64
5_Dezena                    float64
6_Dezena                    float64
Arrecadacao_Total            object
Ganhadores_Sena             float64
Cidade                       object
UF                           object
Rateio_Sena                  object
Ganhadores_Quina            float64
Rateio_Quina                 object
Ganhadores_Quadra           float64
Rateio_Quadra                object
Acumulado                    object
Valor_Acumulado              object
Estimativa_Premio            object
Acumulado_Mega_da_Virada     object
dtype: object

In [7]:
# dataframe sorteios OK

sorteios_ok = dfs[dfs['Acumulado'] == 'NÃO']

sorteios_ok.head()

,Concurso,Data_Sorteio,1_Dezena,2_Dezena,3_Dezena,4_Dezena,5_Dezena,6_Dezena,Arrecadacao_Total,Ganhadores_Sena,...,UF,Rateio_Sena,Ganhadores_Quina,Rateio_Quina,Ganhadores_Quadra,Rateio_Quadra,Acumulado,Valor_Acumulado,Estimativa_Premio,Acumulado_Mega_da_Virada
1,2.0,3/18/1996,9.0,39.0,37.0,49.0,43.0,41.0,0,1.0,...,PR,"2,307,162.23",65.0,"14,424.02",4488.0,208.91,NÃO,0,0,0
2,3.0,3/25/1996,36.0,30.0,10.0,11.0,29.0,47.0,0,2.0,...,RN,"391,192.51",62.0,"10,515.93",4261.0,153.01,NÃO,0,0,0
11,11.0,5/20/1996,25.0,15.0,58.0,37.0,59.0,38.0,0,1.0,...,RJ,"15,591,365.07",148.0,"12,706.05",9442.0,199.16,NÃO,0,0,0
17,17.0,7/1/1996,10.0,20.0,6.0,19.0,51.0,13.0,0,1.0,...,SP,"6,789,869.08",144.0,"7,628.37",9376.0,117.16,NÃO,0,0,0
24,24.0,8/19/1996,1.0,8.0,14.0,28.0,33.0,43.0,0,1.0,...,NaN,"18,661,679.61",227.0,"7,897.31",13486.0,132.93,NÃO,0,0,0

In [8]:
sorteios_ok.shape

(523, 21)

In [9]:
# Retirando valores nulos 
dfs = dfs.dropna(subset=['Data_Sorteio'])

In [10]:
# Preparando dataset para o modelo 
dfs_modelo = dfs[['1_Dezena','2_Dezena', '3_Dezena', '4_Dezena', '5_Dezena', '6_Dezena', 'Ganhadores_Sena']] 

dfs_modelo.head(5)

   1_Dezena  2_Dezena  3_Dezena  4_Dezena  5_Dezena  6_Dezena  Ganhadores_Sena
0      41.0       5.0       4.0      52.0      30.0      33.0              0.0
1       9.0      39.0      37.0      49.0      43.0      41.0              1.0
2      36.0      30.0      10.0      11.0      29.0      47.0              2.0
4       6.0      59.0      42.0      27.0       1.0       5.0              0.0
5       1.0      19.0      46.0       6.0      16.0       2.0              0.0

In [11]:
# Neural Network

In [26]:
import keras.backend as K
import pickle



from keras.models  import Sequential
from keras.layers  import Dense
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()


def mean_pred(y_true, y_pred):
    return K.mean(y_pred)

In [27]:
# target e classes
features = dfs_modelo.iloc[:,0:6]
target   = dfs_modelo.iloc[:,6]

In [28]:
# separar  25% teste e 75%  treino
X_train, X_test, y_train, y_test = train_test_split(target, features)

In [30]:
#modelo = Sequential()
modelo = LinearRegression()
#modelo.add(Dense(10, input_dim=6, activation='relu'))
#modelo.add(Dense(12, activation='relu'))
#modelo.add(Dense(1, activation='sigmoid'))

In [36]:
# Compilando o modelo
#modelo.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
#modelo.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy', mean_pred])
# Treinando modelo
#modelo.fit(y_train, X_train, epochs=300, batch_size=10)
modelo.fit(y_train, X_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
# Avaliando modelo
#scores = modelo.evaluate(y_train, X_train)
scores = modelo.score(y_train, X_train)
print("\n")
print("Acurracia do modelo")
#print("\n%s: %2f%%" % (modelo.metrics_names[1], scores[1]*100))
print(scores)

Acurracia do modelo
0.011663174021351086

In [35]:
# Salvando Modelo
#modelo.save("model_mega")



pickle.dump( modelo, open ('./model_mega2.pkl', 'wb'))